specs/n8n/blog-poster.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "e1ef3e7a-2cac-4826-93e1-61057d913c0a",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -4928,
        2592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"gpt-4-turbo\", \"messages\": [ { \"role\": \"system\", \"content\": $json.system_prompt }, { \"role\": \"user\", \"content\": $json.user_prompt } ] } }}",
        "options": {}
      },
      "id": "bdac3402-bd5e-4366-abb3-1949dfb7a4cb",
      "name": "AI Content Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4480,
        2592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1UPsIUoaAyTpIRuS",
          "name": "Open AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.item.json.choices[0].message.content;\nlet parsedData;\ntry {\n    parsedData = JSON.parse(aiResponse);\n} catch (e) {\n    const cleanJson = aiResponse.replace(/^```json\\n|\\n```$/g, '');\n    parsedData = JSON.parse(cleanJson);\n}\n\n// Helper to normalize prompt objects\nconst normalize = (p) => {\n    const typeKey = Object.keys(p).find(k => k.toLowerCase() === 'type');\n    const promptKey = Object.keys(p).find(k => k.toLowerCase() === 'prompt');\n    return {\n        type: typeKey ? String(p[typeKey]).trim().toLowerCase() : '',\n        prompt: promptKey ? p[promptKey] : ''\n    };\n};\n\nconst normalizedPrompts = (parsedData.image_prompts || []).map(normalize);\n\nreturn {\n    json: {\n        ...parsedData,\n        featured_prompt: (normalizedPrompts.find(p => p.type === 'featured') || {}).prompt,\n        inline_prompts: normalizedPrompts.filter(p => p.type === 'inline')\n    }\n};"
      },
      "id": "fae01491-8821-4da4-bc79-2d9367edb5e8",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4256,
        2592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux-2-pro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"prompt\": 'Photorealistic professional photograph, high-resolution, natural lighting, real-world scene: ' + $json.featured_prompt, \"image_size\": \"landscape_16_9\", \"num_images\": 1 } }}",
        "options": {}
      },
      "id": "98b12814-bede-4c29-b332-7a8073ffbad1",
      "name": "Fal.ai (Featured)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3584,
        2496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "EnSy6MlA0fNgaGb9",
          "name": "Fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "file"
            }
          }
        }
      },
      "id": "402e3f91-cbe6-4731-9192-b9d07b301395",
      "name": "Download Featured Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3360,
        2496
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aegontech.dev/api/media/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "altText",
              "value": "Featured Image"
            }
          ]
        },
        "options": {}
      },
      "id": "e6cc1529-4677-4a58-bc8c-d4ac2e9ff1b7",
      "name": "Upload Featured Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3136,
        2496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4q4zxpvntZvPXRnF",
          "name": "Aegontech Upload Key"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "inline_prompts",
        "options": {}
      },
      "id": "ee700625-9945-40cd-9e6e-dd0a8b880ad5",
      "name": "Split Inline Images",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        -4032,
        2688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://fal.run/fal-ai/flux-2-pro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"prompt\": 'Photorealistic professional photograph, high-resolution, natural lighting, real-world scene: ' + $json.prompt, \"image_size\": \"square\", \"num_images\": 1 } }}",
        "options": {}
      },
      "id": "85a20025-8f78-4d78-951b-a7805a0de428",
      "name": "Fal.ai (Inline)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3808,
        2688
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "EnSy6MlA0fNgaGb9",
          "name": "Fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "file"
            }
          }
        }
      },
      "id": "6e83acd4-cbe8-47bd-a7f2-531a57367fa4",
      "name": "Download Inline Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3584,
        2688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aegontech.dev/api/media/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "altText",
              "value": "Inline Blog Image"
            }
          ]
        },
        "options": {}
      },
      "id": "3e0ba37e-ff43-4c9f-a953-c648ed6c7694",
      "name": "Upload Inline Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3360,
        2688
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4q4zxpvntZvPXRnF",
          "name": "Aegontech Upload Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst urls = allItems.map(item => item.json.media.url);\nreturn [{ json: { urls } }];"
      },
      "id": "d7ff3200-7fb1-467b-a2e2-fa488ebc328b",
      "name": "Aggregate Images",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3136,
        2688
      ]
    },
    {
      "parameters": {
        "jsCode": "const contentData = $(\"Parse AI Response\").first().json;\nconst featuredImg = $(\"Upload Featured Image\").first().json.media.url;\n\n// Get inline image URLs from the Aggregate Images node\nconst aggregateData = $(\"Aggregate Images\").first().json;\nconst inlineImgs = aggregateData.urls || [];\n\nlet finalContent = contentData.content;\n\ninlineImgs.forEach((url, index) => {\n    const placeholder = `<<IMAGE_PLACEHOLDER_${index + 1}>>`;\n    const markdownImage = `![Blog Image](${url})`;\n    finalContent = finalContent.replace(placeholder, markdownImage);\n});\n\n// Cleanup unused placeholders\nfinalContent = finalContent.replace(/<<IMAGE_PLACEHOLDER_\\d+>>/g, '');\n\nreturn [{\n    json: {\n        title: contentData.title,\n        slug: contentData.slug,\n        excerpt: contentData.excerpt,\n        featuredImage: featuredImg,\n        seo_title: contentData.seo_title,\n        seo_description: contentData.seo_description,\n        seo_keywords: contentData.seo_keywords,\n        content: finalContent,\n        is_published: true\n    }\n}];"
      },
      "id": "b9ffe663-b6ea-4a05-a2c8-9718e8eeb0c9",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2688,
        2592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aegontech.dev/api/blog/publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "d811a863-bfc7-4c0b-810e-d1cd3fc615cb",
      "name": "Post to Ageontech1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2464,
        2592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4q4zxpvntZvPXRnF",
          "name": "Aegontech Upload Key"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2912,
        2592
      ],
      "id": "0003b815-a093-4209-bf7c-bc4c287b54dd",
      "name": "Merge"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "system_prompt",
              "value": "You are a Senior SEO Content Strategist for Ageontech LLC.\\n\\nThe Company: Ageontech LLC.\\nWhat we do: We build high-performance web applications, mobile apps, and enterprise software solutions.\\nTone: Professional, authoritative, technical yet accessible, innovative.\\n\\nThe Task: Write a compelling, SEO-optimized blog post for our tech blog.\\nTopics: Custom software vs off-the-shelf, Scalable architecture, Modern tech stacks (React, Node, Python), AI integration in business, Mobile app dev trends, Cloud infrastructure.\\n\\nGoal: Establish Ageontech as a thought leader and attract potential B2B clients looking for development services.\\n\\nStructure:\\nHook: Address a common business/tech challenge.\\nThe Solution: How modern software solves it.\\nAgeontech's Approach: Our expertise.\\nCTA: Contact Ageontech for a consultation.\\n\\nFormatting:\\nUse Markdown formatting (H2, H3, bolding for emphasis).\\nKeep paragraphs short (2-3 sentences) for readability.\\nInclude placeholders for images like [Image: Description of image] where appropriate.\\n\\nOutput strictly valid JSON."
            },
            {
              "name": "user_prompt",
              "value": "Generate a blog post with a COMPLETELY NEW AND UNIQUE topic. Do NOT reuse any previous titles. Current timestamp for uniqueness: \" + Date.now() + \".\\n\\n**REQUIREMENTS:**\\n1. **Topic**: Create a FRESH, UNIQUE topic. Pick a random angle from: custom software development, enterprise mobile apps, AI in business, legacy system modernization, cloud migration strategies, scalable web architecture, outsourcing vs in-house dev, REACT/Next.js trends, startup MVP development, digital transformation success stories. The title MUST be different from any common titles.\\n2. **Format**: Return the result as a VALID JSON object (and ONLY JSON) with the following schema:\\n    ```json\\n    {\\n      \\\"title\\\": \\\"Catchy Title\\\",\\n      \\\"slug\\\": \\\"catchy-title-slug\\\",\\n      \\\"excerpt\\\": \\\"Short 2-sentence summary\\\",\\n      \\\"seo_title\\\": \\\"SEO Optimized Title\\\",\\n      \\\"seo_description\\\": \\\"meta description\\\",\\n      \\\"seo_keywords\\\": [\\\"keyword1\\\", \\\"keyword2\\\"],\\n      \\\"content\\\": \\\"Markdown content...\\\",\\n      \\\"image_prompts\\\": [\\n          {\\\"type\\\": \\\"featured\\\", \\\"prompt\\\": \\\"Detailed prompt for main cover image\\\"},\\n          {\\\"type\\\": \\\"inline\\\", \\\"prompt\\\": \\\"Detailed prompt for inline image 1\\\"},\\n          {\\\"type\\\": \\\"inline\\\", \\\"prompt\\\": \\\"Detailed prompt for inline image 2\\\"}\\n      ]\\n    }\\n    ```\\n3. **Content Body**: \\n    -   Use proper Markdown headings (##, ###).\\n    -   Length: At least 800 words.\\n    -   **Important**: Where you want the inline images to appear, insert the placeholder text: `<<IMAGE_PLACEHOLDER_1>>`, `<<IMAGE_PLACEHOLDER_2>>`, etc., corresponding to the order in the `image_prompts` array (skipping the featured one).\\n    -   Ensure there are at least 2 inline images.\\n    -   **CRITICAL**: The number of inline items in `image_prompts` MUST MATCH EXACTLY the number of placeholders you inserted in the specific content. If you use 3 placeholders, provide 3 inline prompts.\\n4. **Image Prompts**: Each image prompt MUST describe a REAL PHOTOGRAPH. Use: 'Professional stock photo of...', 'Real photograph showing...', 'Authentic candid photo of...'. Describe real people, real offices, real devices. NO illustrations, NO digital art, NO 3D renders, NO cartoons, NO anime style.\\n5. **Image Negative Constraints**: NEVER include any religious references, symbols, attire, or iconography in the image prompts. Avoid hijabs, crosses, religious buildings, prayer imagery, or any cultural/religious clothing. Keep images neutral, modern, secular, and globally inclusive. Focus on diverse professionals in contemporary business casual or smart casual attire."
            }
          ]
        },
        "options": {}
      },
      "id": "dbb0cd18-6ab0-4652-b346-970758a4fdf0",
      "name": "Define Prompts1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -4704,
        2592
      ]
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [
        [
          {
            "node": "Define Prompts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Fal.ai (Featured)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Inline Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal.ai (Featured)": {
      "main": [
        [
          {
            "node": "Download Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Featured Image": {
      "main": [
        [
          {
            "node": "Upload Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Featured Image": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Inline Images": {
      "main": [
        [
          {
            "node": "Fal.ai (Inline)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal.ai (Inline)": {
      "main": [
        [
          {
            "node": "Download Inline Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Inline Image": {
      "main": [
        [
          {
            "node": "Upload Inline Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Inline Image": {
      "main": [
        [
          {
            "node": "Aggregate Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Images": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Post to Ageontech1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Prompts1": {
      "main": [
        [
          {
            "node": "AI Content Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "495481f5f4ddde18c82827077397d5fb058466368fd2c3275b9a5cd849415675"
  }
}